body{
  background: url(../img/background.png);
  /*图片定位*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*定义字体颜色*/
  color: white;
}
h1{
  margin: 50px 0;
  padding: 0;
  text-align: center;
}
.loginBox{
  /*左右居中*/
  width: 57%;
  margin: 0 auto;
  padding: 40px;
  /*边框*/
  border: 2px solid rgba(238, 238, 238, 0.13);
  /*height: 500px;*/
  /*背景颜色*/
  background-color: rgba(10, 10, 10, 0.77);
  border-radius: 5px;
  clear: both;
}

.login,.register{
  display: block;
  height: 100%;
  text-align: center;
}
.login{
  width: 50%;
  padding-right: 40px;
  float: left;
}
.register{
  width: 50%;
  padding-left: 40px;
  float: right;
  border-left: 1px solid white;
}
form input {
  display: inline-block;
  width: 93.4%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.41);
  outline: none;
}

form input[type=submit],form input[type=button]{
  border: 1px solid rgba(238, 238, 238, 0.41);
  margin-top: 30px;
}

form input[type=submit]:hover,form input[type=button]:hover{
  transition: all 1s linear;
  background-color: black;
  border-color: white;
}

.clear{
  clear: both;;
}

footer{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
