<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <script src="./plugin/vue.js" charset="utf-8"></script>
  </head>
  <body>
<div class="test">
<template v-for="todo in messages">
  <div id="temp">{{todo.name}}</div>
  <div class="demo"></div>
</template>
<!-- <envelope-li
  v-for="m in messages"
  v-bind:todo="m.name"></envelope-li> -->
</div>
<script type="text/javascript">
// Vue.component('envelope-li', {
//   props: ['todo'],
//   template:'<div id="temp">{{todo}}</div><div class="demo"></div>'
// });
new Vue({
  el:'.test',
  data:{
    message:'message',
    messages:[{name:'test1'},{name:'test2'}]
  }
});
</script>
  </body>
</html>
